.cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.pacman {
    background-repeat: no-repeat;
}

.pacman.right {
    background-image: url(assets/pacman-right.png);
}

.pacman.left {
    background-image: url(assets/pacman-left.png);
}

.pacman.up {
    background-image: url(assets/pacman-up.png);
}

.pacman.down {
    background-image: url(assets/pacman-down.png);
}

